.login-page {
  overflow: hidden;
  background-color: white;
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #dee2e6; 
  width: 50%;
  height: 50vh;
}
.login-card {
  width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; 
  background-color: #f9f6f6 !important;
}
.right-login {
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
}
